.wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    padding: 2%;
    margin: 2%;
  }

  /* #leftDiv {
    background: rgb(2,0,36);
    background: linear-gradient(-90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    width: 100%;
  } */
  

 body{
      color: aliceblue;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    font-family: 'Baloo Thambi 2', cursive;
  }